{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}!{% endblock %}

{% block body %}
<h1>{{ page_title }}!</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <h3>Hello Admin !</h3>
            {% else %}
            <li><a href="{{ path('/') }}"> No right to be there ! </a></li>
        {% endif %}
        {# ... #}
{% endblock %}
