{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
        {% if is_granted('ROLE_USER') %}
            {% else %}
            <form method="post">
            <button style="font-size: 20px; margin-left: 550px; margin-top: 250px; text-align: center;"><a style="text-decoration:none;" href="{{ path('login') }}"> Wanna Login ? </a></button></br>
            <button style="font-size: 20px; margin-left: 550px; margin-top: 100px; text-align: center;"><a style="text-decoration:none;" href="{{ path('user_register_page') }}"> Wanna Register ? </a></button>
            </form>
        {% endif %}

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
{% endblock %}